/bin
.config-lock
*.sqlite
*.log*
/include
/lib
*.json
/received
/temp
/variables.yml
/.directory
/.fuse_hidden*
/.Trash-*
/.nfs*

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

